/* bg */

/* Example CSS */
#window {
    position: relative;
    overflow: hidden; 
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#object {
    position: absolute;
    top: 0;
    left: 0;
    background:red;
    transform: translate(-50%, -50%); 
    background-color: aqua;
}


.bg-green-300 {
    background-color: #00bf1f;
}
.bg-green-500 {
    background-color: green;
}
.bg-gray-300 {
    background-color: gray;
}
.bg-white {
    background-color: white;
}

/* border */
.border {
    border: 1px solid gray;
}

/* flex */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.gap-2 {
    gap: 0.5rem;
}

/* font */
.font-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

/* height */
.h-vh {
    height: 100vh;
}
.h-full {
    height: 100%;
}
.h-100 {
    height: 25rem;
}
.h-50 {
    height: 13.5rem;
}

/* padding */
.p-5 {
    object-fit: contain;
}

/* padding */
.p-5 {
    padding: 1.25rem;
}

/* width */
.w-full {
    width: 100%;
}
.w-100 {
    width: 25rem;
}
.w-50 {
    width: 13.5rem;
}


/****************/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #f6f6f0; /* Change this color for the thumb */
    border-radius: 50%;
    cursor: pointer;
}